table.bibLinks {margin:0 5px; border:none;}
.bibLinks th {text-align: left;}
.bibLinks td {text-align:left;}

#link856 {width: 14.6%; background-color: #DEDEE7; color:black; font-style:italic;}

#resourceCaption {width: 16.3%; background-color: #DEDEE7; color:black; font-style:italic; font-weight:bold;}