

/* 2006 WebPAC Pro Version, set from 13 July, 2006 */

/* This file last changed: Jan. 15, 2009 hjp */

/* *******************************************************************

The new example set has a seperate Internet Explorer (IE) css file. You must make similar changes

to your IE style sheet in order for the same display across borwsers. The IE style sheet is ie_styles.css

********************************************************************** */

/* general appearance */

/* See also Web Option BODYPARAM */



/* Stylesheet to use for dynamic Web pages */

/* is set by Web Option STYLESHEET */



/* from previous merlin_styles stylesheet */

/* III Release 2006 Addition/Change */



/**********************************************************************************/

body, div, span, p, form, .qs, h1, h2, h3, ul, ol, li, a, td ,th, select, input, textarea

{ font-family: Verdana, Arial, Helvetica, sans-serif; color: #1e1e48; }

link, alink, vlink { color: #333379;  background: #ffffff;  }

/***********************************************************************************/

/* .mainActiveContentTables */

.maintenanceNotice { color: red; }

.pageMainAreaHeader { color: #323279; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; }

.pageMainAreaSubHeader { font-weight: normal; font-style: normal;

}

.pageMainArea { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: medium; }

.pageNavArea { padding: 0%; border: 0px; text-align: left; }



/* These styles are used by the library-customizable pages in the example set */

A.pageNavAreaText:LINK, A.pageNavAreaText:VISITED {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none; font-weight: bold; background-color: #333379;  }

A.pageNavAreaText:ACTIVE, A.pageNavAreaText:HOVER {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: #dedee7; text-decoration: none; font-weight: bold; background-color: #333379;  }

.nowrap {white-space: nowrap; }

A:ACTIVE, A:HOVER {  text-decoration: underline; color: #6BBC07  }

tt, pre { font-family: "Courier New", Courier, mono, monospace; }

body, div, p, form, ul, ol, li, th, td, select, input, textarea { font-size: 12px; color: #000000; }

h2 { font-size: 18px; color: #000000; }

.h2Msg { background-color: #ffffff; color: #000000; font-size: medium; font-weight: bold; text-align: left; }

h3 { font-size: 16px; color: #323279; }

h4 { font-size: 14px; color: #323279; }

h5 { font-size: 13px; color: #323279; }

.idhelp { font-size: 10px; }


/* Body onload coding in the stylesheet keeps IE from throwing script errors for debugging */

#onLoad {

	onLoad=if (location.search != ''); modifySearch (document.location.search); document.forms[0].searchText1.focus();document.forms[0].searchText1.select();

	width: 740px; background-color: #ffffff; color: #000000;

}



.leftAlign740 { width: 740px; text-align: left; }

/* Return to Main Menu text link at the bottom of the search help pages, etc. */

.ret2MainMenu { width: 740px; text-align: left; }

/***********************************************************************************/

/* NEW TAB BAR */

    #merlin_tabs_wrapper, #merlin_content_wrapper {
      width: 740px;
      margin-left: auto;
      margin-right: auto;
    }

    #merlin_tabs {
      float:left;
      width:100%;
          background:white;
      font-size:120%;
      line-height:normal;
          border-bottom:9px solid #333379;
      }
    #merlin_sub_tabs {
	  background-color:#333379;
	  width:100%;
      }
      
    #merlin_sub_tabs a:link {
	  color:#ffffff;
	  text-decoration:none;
      }
      
    #merlin_sub_tabs v:link {
	  color:#ffffff;
	  text-decoration:none;
      }

    #merlin_sub_tabs a:visited {
	  color:#ffffff;
	  text-decoration:none;
      }      

    #merlin_sub_tabs a:hover {
	  color:#ffffff;
	  text-decoration:none;
      }
      
    #merlin_sub_tabs a:active {
	  color:#ffffff;
	  text-decoration:none;
      }      
      
    #merlin_tabs ul {
          margin:0;
          padding:10px 10px 0 0;
          list-style:none;
      }
    #merlin_tabs li {
      display:inline;
      margin:0;
      padding:0;
      }
    #merlin_tabs a {
      float:left;
      background:url("tableft1.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #merlin_tabs a span {
      float:left;
      display:block;
      text-align:center;
      background:url("tabright1.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#333379;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #merlin_tabs a span {float:none;}
    /* End IE5-Mac hack */
    #tabs a:hover span {
      color:#333379;
      }
    #merlin_tabs a:hover {
      background-position:0% -42px;
      color: white;
      }
    #merlin_tabs a:hover span {
      background-position:100% -42px;
      color: white;
      }

      #merlin_tabs #current a {
              background-position:0% -42px;
      color: white;
      }
      #merlin_tabs #current a span {
              background-position:100% -42px;
      color: white;
      }
      #merlin_tabs_wrapper br {
      	clear:both;
      	}



/***********************************************************************************/

/* TAB ROLLOVERS */



.tabTable { width: 740px; border: 0px; padding: 0px; text-align: center;  }

.tabs {

	width: 100%;  border: 0px; padding: 0px; color: #ffffff; text-align: center; background-color: #333379;

}

.tabsOpac { width: 740px; border: 0px; padding: 0px; text-align: center;  }

.tab_cat {

	onMouseOut: "MM_nbGroup('out');"

	onMouseOver: "MM_nbGroup('over','tab_libcat','/screens/tab_libcat_over.gif','/screens/tab_libcat_overdown.gif',1);"

	onClick: "MM_nbGroup('down','tab_bar','tab_libcat','/screens/tab_licat_down.gif',1);"

}

.tab_reserve {

	onMouseOut: "MM_nbGroup('out');"

	onMouseOver: "MM_nbGroup('over','tab_reserves','/screens/tab_reserves_over.gif','/screens/tab_reserves_overdown.gif',1);"

	onClick: "MM_nbGroup('down','tab_bar','tab_reserves','/screens/tab_reserves_down.gif',1);"

}

.tab_patrec {

	onMouseOut: "MM_nbGroup('out');"

	onMouseOver: "MM_nbGroup('over','tab_mylib','/screens/tab_mylib_over.gif','/screens/tab_mylib_overdown.gif',1);"

	onClick: "MM_nbGroup('down','tab_bar','tab_mylib','/screens/tab_mylib_down.gif',1);"

}

.tab_other {

	onMouseOut: "MM_nbGroup('out');"

	onMouseOver: "MM_nbGroup('over','tab_other','/screens/tab_other_over.gif','/screens/tab_other_overdown.gif',1);"

	onClick: "MM_nbGroup('down','tab_bar','tab_other','/screens/tab_other_down.gif',1);"

}

.tab_help {

 	onMouseOut: "MM_nbGroup('out');"

	onMouseOver: "MM_nbGroup('over','tab_help','/screens/tab_help_over.gif','/screens/tab_help_overdown.gif',1);"

 	onClick: "MM_nbGroup('down','tab_bar','tab_help','/screens/tab_help_down.gif',1);"

}

/***********************************************************************************/

/*  OPACMENU Styles  */



.guidedSrch { width: 740px; border: 0px; text-align: center; padding: 0px; }

.opacmenuShading { background-color: #dedee7; }

.opacIndexHeader { width: 719px; white-space: nowrap; background-color: #dedee7; }

.opacIndexTab1 { width: 740px; border: 0px; padding: 0px; }

.opacIndexTab2 { width: 244px; border: 0px; padding: 0px; }

.shim1 { width: 719px; height: 5px; background-color: #dedee7; }

.shim2 { width: 6px; }

.shim3 { width: 232px; height: 5px; background-color: #dedee7; }

.shim4 { width: 232px; height: 5px; background-color: #dedee7; white-space: nowrap;}

.bc1 { width: 6px; height: 5px; text-align: right; }

.bc2 { width: 6px; height: 5px; }



/***********************************************************************************/

/*  AVS Styles  */



#avsMain { width: 740px; border: 0px; padding: 0px; }

.avsMainSearch {

	width: 100%;  padding: 5px;

	text-align: left;

	border: 1px ridge;

}

.avsHeader {

	width: 100%; text-align: left; color: #323279; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

	font-size: 16px; font-weight: bold;

}

.avsColorRow { border: 0px; background-color: #dedee7; }

.avsBorder { width: 100%; border: 1px ridge; text-align: center; padding: 5px; }

.searchTips { width: 740px; border: 1px ridge; text-align: left; vertical-align: top; }

.searchTipsCol1 { width: 13%; border: 1px ridge; text-align: left; vertical-align: top; }

.searchTipsCol2 { width: 57%; border: 1px ridge; text-align: left; vertical-align: top; }

.searchTipsCol3 { width: 31%; border: 1px ridge; text-align: left; vertical-align: top; }

.searchTipsHeader { border: 1px ridge; background-color: #dedee7; vertical-align: middle; text-align: center; font-weight: bold; }

.avsSection { width: 740px; border: 0px; text-align: left; padding: 2px; }

.avsSubmit { text-align: left; }



.leftColHeader { width: 50%; border: 1px ridge; background-color: #dedee7; text-align: left; }

.rightColHeader { width: 50%; border: 1px ridge; background-color: #dedee7; text-align: center; }

.leftCol { width: 50%; border: 1px ridge; }

.rightCol { width: 50%; border: 1px ridge; }

.table2Header { width: 100%; border: 1px ridge; background-color: #dedee7; text-align: center; font-weight: bold; }



/**********************************************************************************/

.form { margin: 0px; border-top: 0px; border-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }

.qs { font-size: 10px; color: #000000; }

.blurb { font-size: 11px; }

.heading1 { color: #333379; font-size: small; font-weight: bold;  font-family: Verdana, Arial, Helvetica, sans-serif; }

.heading2 { color: #ffffff; font-size: 13px;font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; }

.heading3 { color: #333379; font-size: medium; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;    }

.bodytext { color: #333379; font-family: Verdana, Arial, Helvetica, sans-serif; }

.index { font-size: medium; color: #333379; font-weight: bold; }

.index_def { font-size: smaller; color: #333379; }

#bot_logo { font-size: 12px; color: #323279; }

.bot_logo_1 { font-size: 16px; color: #323279; }

.bot_logo_2 { font-size: 12px; color: #1e1e48; }

hr { color: #032585; }

ul { list-style-position: outside; list-style-type: disc; }

OL { list-style-position: outside; list-style-type: decimal; }

.small { font-size: 11px; }

.big { font-size: 12px; color: #ffffff; background-color: #032585; }

.bodystyle { font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; }

.smaller { font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; }

.smaller_reversed { font-size: 11px; color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; }

.smaller_reversed_2 { font-size: 16px; font-weight: bolder; color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; }

.smaller_reversed_nodecoration { font-size: 11px; color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;}

a.smaller_reversed_nodecoration:ACTIVE, a.smaller_reversed_nodecoration:HOVER { text-decoration: underline; color: #ffff00 }

.box1 { padding: 3px; color: #ffffff; background-color: #032585; }

.box2 { border: 3px solid; padding: 5px; }

.menu { font-weight: bold; color: #032585; background-color: #ffffff;}

.mNote { font-weight: normal; color: #000000; font-style: italic; }



/* This hides the "Cancel All Holds" button wherever it would appear */

/* Sadly, selecting elements based on attributes is not supported in Internet Explorer yet */

/* This trick will work in browsers which are compliant with this CSS functionality e.g. Firefox */

img src="/screens/pat_cancelall.gif" { display:none; }

div#instructions { font-size: 90%; font-style: italic; }

.helpNote { font-size: 90%; font-style: italic; }


/***********************************************************************************/

/* ASRS Styles */

#asrs { width: 740px; border: 0px; padding: 0px; margin:auto;}

#asrsError {color:red;}

#asrsForm { width:285px; float:left; padding-right:15px;}

#asrsForm form {margin-bottom: 3em;}

#asrsHelp {width:425px; float:left;}

#asrsForm, #asrsHelp {margin: 2em 0;}

#asrs input {display:block; margin:.5em 0 1.5em 0;}

/* Authority Redirection Classes */

TR.authterm { color: #000000; background: #dedee7; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold; }
TD.authPublicNote { color: #3D001C; background: #dedee7; font-weight: bold; text-align: left; }
TD.unauthTerm { color: #3D001C; background: #dedee7; font-weight: bold; text-align: left; }

/***********************************************************************************/

/* BIBLIOGRAPHIC DISPLAY CLASSES */

/*.bibBookingsHeader { font-weight: bold; text-decoration: none; color: #000000; background: #FFFBC6;
	padding: 3px; border: 1px solid #333379; }*/
TABLE.bibDetail { border: 1px solid #ffffff; }
TABLE.bibHoldings { border: 1px solid #ffffff; }
.bibHoldingsEntry { text-align: left; }
TR.bibHoldingsHeader { color: #ffffff; background: #333379; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold; }
TR.bibHoldingsData { color: #000000; background: #dedee7; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold; }
TR.bibHoldingsLabel { color: #ffffff; background: #333379; font-weight: bold; text-align: left; }
TD.holdingsDivider { border: 2px solid #dedee7; margin: -3px; }
.bibHolds { width: 99%; border: 0px; background-color: #dedee7; }
TH.bibHolds { color: #ffffff; background: #333379; font-weight: bold; text-align: left; }
TR.bibHoldsEntry { color: #000000; background: #dedee7; border: 1px solid #333379; }
TABLE.bibInfo { color: #323279; background: #ffffff; font-weight: bold; text-align: left; width: 100%;
	border: 1px solid #ffffff; }
TR.bibInfoData { font-weight: bold; }
.bibInfoData { text-align: left; }
.bibInfoEntry { text-align: left; }
TD.bibInfoLabel { width: 15%; background-color: #dedee7; font-style: italic; }
TABLE.bibItems { border: 1px solid #ffffff; }
TR.bibItemsEntry { color: #000000; background: #dedee7; text-align: left;}
TH.bibItemsHeader { color: #ffffff; background: #333379; font-weight: bold; text-align: left; }
TR.bibItemsLabel { color: #ffffff; background: #333379; font-weight: bold; text-align: left; }
/*bibLicense
bibLicenseEntry
bibLicenseHeader*/
TABLE.bibLink { text-align: right; margin-right: 20%; background-color: #ffffff; color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }
.bibRecordLink { background: #ffffff; color: #000000; padding: 2px 4px; text-align: right;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: normal; font-style: normal; }
.bibMain
.bibOrder { width: 100%; border: 0px; }
/* bibOrderEntry*/
.bibPager { text-align: center; width: 100%; border: 0px;  }
/* bibResourceBrief
bibResourceCaption
bibResourceEntry
bibResourceEntry td
bibResourceHeader
bibResourceLicense
bibResourceLicenseEntry
bibResourceSubEntry */
TABLE.bibResourceTable { border: 1px solid #ffffff; }
/* .bibResourceTableEntry
bibResourceTableHeader */
TABLE.bibScreen { width: 99%; border: 1px solid #ffffff; }
.bibSearchtool { text-align: center; border: 1px solid #ffffff;  }
/* bibThumbnails */
.bibTOC { width: 95%; border: 0px; background-color: #FFFFFF; color: #000000; text-align: left;}
.bibContent { border: 0px; text-align: left;}
TABLE.bibWidgit { border: 1px solid #ffffff; }
.navigationRow { text-align: center; white-space: nowrap; }
/* bibXML
patFuncReviewFull
patFuncReviewHeadline */
#resourceCaption {font-weight: bold;}

/***********************************************************************************/

/* BRIEFCIT DISPLAY CLASSES */

TABLE.briefCitTable { border: 1px solid #000000; width: 100%; }
TR.briefCitRow { color: #000000; background-color: #dedee7; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;  }
TD.briefcitRelevance { color: #000000;  background-color: #dedee7; }
TD.briefCitTitle { color: #000000; background-color: #dedee7; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;  }
TD.briefCitStatus { font-weight: bold; }
TD.briefCitCall { padding-left: .2em; font-style: italic; font-weight: bold; }
TD.briefCitEntryNum { padding-right: 2px; text-align: left; vertical-align: top; width: 5%; white-space: nowrap; }
TD.briefCitCheckbox { padding-right: 2px; padding-left: 2px; text-align: center; vertical-align: middle; width: 7%; }
TD.briefcitDetail { font-size: 90%; }

/***********************************************************************************/

/* BROWSE DISPLAY CLASSES */

TABLE.browseEntry { border: 1px solid #000000; width: 100%; }
TR.browseEntry { color: #ffffff; background-color: #dedee7; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: normal; }
TD.browseEntry { border-bottom: 1px #dedee7 solid; }
TD.browseEntryNum { text-align: center; }
TD.browseEntryMark { font-weight: bold; }
TD.browseEntryData { background-color: #dedee7; color: #323279; text-align: left; font-weight: bold; }
TD.browseEntryMedia { vertical-align: middle; }
TD.browseEntryYear {text-align: center; }
TR.browseEntryEntries { text-align: center; }
TD.browseEntryEntries { text-align: center; }
TD.browseEntryRelevance { text-align: left; }
TR.browseHeader { color: #ffffff; background-color: #333379; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold; vertical-align: middle; }
TD.browseHeaderNum { color: #ffffff; background-color: #333379; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold; vertical-align: middle; width: 5%; }
TD.browseHeaderMark { color: #ffffff; background-color: #333379; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold; vertical-align: middle; width: 5%; }
TD.browseHeaderData { color: #ffffff; background-color: #333379; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold; vertical-align: middle; }
TD.browseHeaderMedia {  color: #ffffff; background-color: #333379; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold; vertical-align: middle; }
TD.browseHeaderYear {  background-color: #333379; color: #ffffff; font-weight: bold; text-align: center; }
TD.browseHeaderEntries { color: #ffffff; background-color: #333379; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold; vertical-align: middle; }
TD.browseHeaderRelevance {  background-color: #ffffff; color: #323279; font-weight: bold; }
TABLE.browseList {  background-color: #ffffff; border: 1px solid #ffffff; }
browsePager { text-align: center; white-space: nowrap; }
TABLE.browseResourceTable { border: 1px solid #ffffff; }
TR.browseResourceTableEntry { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000000;  text-align: center; }
/* TR.browseResourceTableHeader */
.browseSaveJump { border: 1px solid #ffffff; text-align: center; }
TR.browseSaveJump { color: #323279; background-color: #ffffff; text-align: center; }
/* TABLE.browseScreen */

TR.msg TD { color: red; font-weight: bold; font-size: 1em;}

TD.browseSearchtool { background-color: #dedee7; margin-left: auto; margin-right: auto; margin-bottom: -3px;
	text-align: center; padding-left: 3px; padding-right: 3px; }
TR.browseSearchtoolMessage { font-size: 90%; }
TR.browseSubEntry {  background-color: #ffffff; color: #323279; }
/* TD.browseSubEntryData
TD.browseSubEntryMedia
TD.browseSubEntryYear
TD.browseSubEntryEntries
TD.browseSubEntryRelevance */
TR.browseSuperEntry { background-color: #C0C0D3; color: #000000; font-weight: bold; }
TD.browseSuperEntry { color: #ffffff; font-weight: bold; vertical-align: middle; }
TABLE.browseWidgit { background-color: #ffffff; border: 1px solid #ffffff; }
TD.browseWidgit { color: #323279; background-color: #ffffff; text-align: center; }

/***********************************************************************************/

/* Featured Lists Display Classes */
/* TR.ftlistHeader */

/***********************************************************************************/

/* Feeds Display Classes */

/* rssChannelTitle
rssChannelEntries
rssChannelEntry
rssChannelEntryDate
rssChannelEntryHead
rssChannelEntryDesc
rssChannelImage
rssChannelNoContent */
#patfeeds {
	float: right;
}

/***********************************************************************************/

/* Limit/Sort Display Classes */

TR.availLimMessage { font-style: italic; text-align: left; }
/* limitEntriesFoundText
limitEntriesFoundNum
limitSearchTerm
limitSearchTypeIndex
limitSearchTypeText */

/***********************************************************************************/

/* Patron Record Display Classes */

#patfunc form {
	display: inline;
}
/* External Patron Authentication product styles */
.libpat strong { display: block; text-align: left; }
.loginarea { }
.main { margin-left: 20px; margin-right: 20px; }
/* patDisplayAuthor */
.patDisplay { color: #000000; background-color: #dedee7; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: normal;  }
TD.patDisplayFunc { color: #000000; background-color: #dedee7; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: normal; }
TD.patDisplayInfo { color: #000000; background-color: #dedee7; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: normal; }
TR.patFunc { border: 0px; width: 100%; } /* includes PAT_FEED */
TABLE.patFunc { padding: 5px; border: 0px; }
/* patFuncBookDate */
TD.patFuncBtns { color: #000000; background-color: #ffffff; font-family: Arial, Verdana, Geneva, Helvetica, sans-serif; }
/* patFuncCallNo
patFuncCancel */
TR.patFuncEntry { color: #000000; background-color: #dedee7; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: normal;  }
/* patFuncFinesDetail
patFuncFinesDetailAmt
patFuncFinesDetailDate
patFuncFinesDetailDateLabel
patFuncFinesDetailType
patFuncFinesEntryTitle
patFuncFinesTotal
patFuncFinesTotalLabel */
TD.patFuncFinesEntryTitle { color: #000000; background-color: #dedee7; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: normal;  }
TD.patFuncFinesTotalAmt { font-weight: bold; }
TH.patFuncHeaders { color: #ffffff; background-color: #333379; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 80%; }
.patFuncHeaders a { color:#ffffff; text-decoration:none; }
/* patFuncMark
patFuncModifyPatInfo
patFuncModifyPIN
patFuncModifyPINExample
patFuncNoEntries
patFuncPickup
patFuncPSrchBtn
patFuncPSrchType
patFuncRating
patFuncStatus*/
TR.patFuncTitle { background-color: #d2d2df; }
TD.patFuncTitle { vertical-align: middle; white-space: normal; }
TABLE.patFuncModifyPIN { border: 1px solid #ffffff; }
/* patInfo
patImage */


/***********************************************************************************/

/* Reserve Didplay Classes */

TABLE.reserveBibs { border: 1px solid #ffffff; }
TR.reserveBibs { background-color: #dedee7; color: #323279; }
TH.reserveBibs { color: #ffffff; background-color: #333379; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold; vertical-align: middle; }
TD.reserveBibs { color: #323279; font-weight: bold; }

/***********************************************************************************/

/* Request Display Classes */

TABLE.requestBibs { border: 1px solid #ffffff; }
TR.requestBibs { background-color: #dedee7; color: #333379; font-weight: bold; }
TD.requestBibs { color: #333379; font-weight: bold; }

/***********************************************************************************/

/* Resource Display Classes */


TABLE.resourceInfo { color: #323279; background: #ffffff; font-weight: bold; text-align: left; width: 100%;
	border: 1px solid #ffffff; }
TR.resourceInfoData { font-weight: bold; }
.resourceInfoData { text-align: left; }
.resourceInfoEntry { text-align: left; }
TD.resourceInfoLabel { width: 11.4%; background-color: #dedee7; font-style: italic; } 


TABLE.resourceInfo {width: 100%;}
TR.resourceBibEntry { color: #000000; background-color: #dedee7; text-align: left; }
TR.resourceBibHeader { color: #ffffff; background-color: #333379; font-weight: bold; text-align: left; }
TD.resourceInfoLabel { background-color: #dedee7; font-style: italic; vertical-align: top;  font-weight:bold;}
TD.resourceLicenseEntry { /*color: #000000; background-color: #dedee7; text-align: left; */ }
TH.resourceLicenseHeader { background-color: #dedee7; font-style: italic; vertical-align: top; width:14%; font-weight:bold;}

table#resource_license {border-top: 2px groove #032585; padding-top:1em; margin-top:.5em;}

table#resource_bib {width:100%;}
#resource_bib th {color: #FFFFFF;}
#resource_bib td, #resource_bib th {padding: 2px;}

table#bib_resource_brief {width:90%;}
table#bib_resource {width:90%;}

/***********************************************************************************/

/* Spellcheck Tool Token Formatting */

.spellcheckTool { font-size: medium; text-align: left; color: #333379; }
.spellcheckToolMore { font-size: 14px; }

/***********************************************************************************/

/* WebBridge Display Classes */

/* wbbody
wbcategory
wbheading
wbpanelcategory
wbsubheading
wblinkdisplay
wblinkfield
wblinktext
wbresourcelist */


/***********************************************************************************/

/* XML Display Classes */
/* xmlframe */

/***********************************************************************************/

/* IE TAB-ROUNDED CORNER FIX (IE STYLES.CSS) */
/* this style corrects the IE rendering bug for the bottom rounded corner overflow */

.ieFix {margin:0 1px 0 1px}

/***********************************************************************************/

/* III STYLES.CSS for ERM */
#bibLeft { float:left; left: 2%; width: 12%; }
#bibContent { float:left; left: 16%; width: 75%; }
#bibRight { float:left; left: 88%; width: 10%; }
.raised {background: transparent; width:90%; margin:0 auto;}
.clear {clear:both; margin-bottom:5px;}
.clear2 {clear:both;}
#infoTable {width:75%;float:left;}
#sidebarContent {width:21%;padding:0 0 0 5px;float:left}
#revandRate { text-align:center; background:#d7e3ff; padding:0 0 3px 0;}
.sidecontentHeading { background:#00437f; color:#fff; font-size:80%; font-style:italic; font-weight:bold; border-bottom:1px solid #7e4a1f; width:100%; margin:0 0 3px 0;}
.conHead {background:#162A6D; color:#fff; font-size:85%; font-style:italic; font-weight:bold; border-bottom:1px solid #FFB515; width:100%; padding:2px 0 2px 6px;}



/***********************************************************************************/
/* UM utility styles for various color and bold combinations, to help with         */
/* presenting new information without further bloating this stylesheet             */

.um_blue { color: blue; }
.um_red { color: red; }
.um_blue_bold { color: blue; font-weight:bold; }
.um_red_bold { color: red; font-weight:bold; }
.um_big_blue_bold { color: blue; font-weight:bold; font-size: medium; }
.um_big_red_bold { color: red; font-weight:bold; font-size: medium; }
.um_idbox {background-color: #DEDEE7; }
.um_left {text-align: left; }
.um_center {text-align: center; }

/***********************************************************************************/
/* Sending call numbers via SMS */

#smsfeatures {
	display:inline;
	width:113px;
	margin-right: -10px;
}

#info, #sms {
       border:1px solid #36647b;
       position:absolute;
       /*top:250;
       left:50; */
       z-index:1000; 
       display:inline;
       background:#fff;
       padding:10px;
       margin:10px;
       background:#efefcf;
}

#sms .eg {
       font-style:italic;
       font-size:80%;
}

#info {top:500}

#sms {font-size:70%}

#mylist_btn1 {
  background-color:#d4d0c8;
  padding: 2px 12px;
  margin:3px;
  color: black;
  border-width: 1px;
  border-color: white black black white;
  border-style:solid;
}

#mylist_btn1 a{
  text-decoration:none;
}

.msg {
  margin-top:1em;
}

#offlineMessage p{
  margin: 1em 2em;
  font-size: medium;
  text-align:center;
}


#gbsLink {
  text-align:center;
}

#gbsLink img {
  margin-bottom:1em;
}
