.clusterLogo { top:18px; }

.topLogoImage {
    padding:20px 20px 30px;
}

ul#tabRow .tab {
    max-width:7.7em;
    height:3.5em;
}

ul#tabRow .tab a {
    text-align:center;
    font-size:.9em;
    padding:7px;
}

.bibDisplayContentMain ul#tabRow .tab {
    max-width:none;
    height:inherit;
}

.bibDisplayContentMain #byTabRow {
    margin-bottom:-18px;
}

.bibDisplayContentMain #byTabRow a {
    margin-top:-19px;
}