{include file="include/pickhead.html"}
    <span class="formheight">
        <form action="{$baseurl}request_submit" method="post">

            <select name="locx00">
                {foreach from=$loc_options key=k item=v}
                    <option value="{$k}">{$v}</option>
                {/foreach}
            </select>
                
            <input type="hidden" name="inst" value="">

            <input type="hidden" name="request_url" value="{$url|escape:'html'}">
            <input type="hidden" name="bibid" value="{$bibid}"> 
            <input type="submit" name="submit" value="Next">

            <input type="hidden" name="submit.x" value="1">
            <input type="hidden" name="submit.y" value="1">
        </form>
    </span>
{include file="include/pickfoot.html"}
