{include file="include/head.html"}

<div class="basicpad">

<br>
<b>Hours (while classes are in session):</b>

<table class="hours">
    <tr>
        <th></th>
        <th>M-Th</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>

    <tr>
        <td>
            <b>Canaday</b>
        </td>

        <td>8a-12a</td>
        <td>8a-10p</td>
        <td>10a-10p</td>
        <td>10a-12a</td>
    </tr>

    <tr>
        <td>
            <b>Magill</b>
        </td>
        
        <td>8:30a-12a</td>
        <td>8:30a-9p</td>
        <td>10a-9p</td>
        <td>10a-12a</td>
    </tr>

    <tr>
         <td>
            <b>McCabe</b>
        </td>
        
        <td>8a-2a</td>
        <td>8a-11p</td>
        <td>10a-8p</td>
        <td>10a-2a</td>
    </tr>

</table>

<br>
<b>Contact info:</b><br><br>

Bryn Mawr
    <ul class="contact">
        <li>(610) 526-5276</li>
        <li><a href="mailto:library@brynmawr.edu">library@brynmawr.edu</a></li>
        <li><a href="http://www.brynmawr.edu/library/hours.html">Additional library hours</a></li>
    </ul>

Haverford
    <ul class="contact">
        <li>(610) 896-1175</li>
        <li><a href="mailto:library@haverford.edu">library@haverford.edu</a></li>
        <li><a href="http://www.haverford.edu/library/hours.php">Additional library hours</a></li>
    </ul>

Swarthmore
    <ul class="contact">
        <li>(610) 328-8477</li>
        <li><a href="mailto:librarian@swarthmore.edu">librarian@swarthmore.edu</a></li>
        <li><a href="http://www.swarthmore.edu/libraryhours.xml">Additional library hours</a></li>
    </ul>
        
</div>
{include file="include/foot.html"}
