<!-- insert stats collection code in statscollector.html -->
{*  
    keep a copy of a file called statscollector.html in a safe place. 
    whenever you update mobilecat, copy that file to this location to 
    have it included and collect your stats.

    If you don't use stats or analytics on your mobile site, it is safe to 
    leave this file as-is.

    Your statscollector.html file should have the following structure:

    {literal} 
    <script>
      javascript provided by your 
      statistics / analytics software
    </script>
    <noscript>
      alternative code for users
      without javascript enabled
    </noscript>
    {/literal}
    
*}
